.small {
  font-size: 0.75em !important;
}
.small a {
  font-size: 1em !important;
}
.small-90 {
  font-size: 0.90em !important;
}
.small-85 {
  font-size: 0.85em !important;
}
.small-80 {
  font-size: 0.80em !important;
}
.small-75 {
  font-size: 0.75em !important;
}
.small-70 {
  font-size: 0.70em !important;
}
.small-65 {
  font-size: 0.65em !important;
}
.small-60 {
  font-size: 0.60em !important;
}
.small-55 {
  font-size: 0.55em !important;
}
.small-50 {
  font-size: 0.50em !important;
}
li {
  line-height: 1.5em !important;
}
.break-sm {
  margin-top: 2% !important;
}
.break {
  margin-top: 5% !important;
}
.break-md {
  margin-top: 10% !important;
}
.break-lg {
  margin-top: 15% !important;
}
div.reveal img {
  border-width: 0;
  box-shadow: none;
}
.text-left {
  display: block;
  text-align: left;
}
.text-center {
  text-align: center;
}
.strong {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.underline-block {
  border-bottom: 1px solid white !important;
  padding-bottom: 0.5em !important;
}
.no-upper {
  text-transform: none;
}
.clear {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
table.table-layout {
  border-width: 0;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}
table.table-layout > tbody > tr > td {
  margin: 0;
  padding: 0;
  border-width: 0;
}
.pre {
  display: inline-block;
  width: auto;
  letter-spacing: 0.2px;
  color: #FFC66D;
}
.pre .highlight {
  color: white;
}
.block-pre {
  display: inline-block;
  width: auto;
  letter-spacing: 0.2px;
  color: #FFC66D;
  background: #1E2022;
  padding: 0.5em;
}
.block-pre .highlight {
  color: white;
}
.inline-pre {
  width: auto;
  letter-spacing: 0.2px;
  color: #FFC66D;
  display: inline-block;
  font-size: 0.8em;
}
.inline-pre .highlight {
  color: white;
}
.reveal section pre {
  display: inline-block;
  width: auto;
  letter-spacing: 0.2px;
  color: #FFC66D;
  background: #1E2022;
  padding: 0.5em;
}
.reveal section pre .highlight {
  color: white;
}
span.pre {
  width: auto;
  letter-spacing: 0.2px;
  color: #FFC66D;
  display: inline-block;
  font-size: 0.8em;
}
span.pre .highlight {
  color: white;
}
.two-column .col {
  width: 45%;
  margin: 0 2.5%;
  float: left;
}
.two-column .col-33 {
  width: 30%;
}
.two-column .col-66 {
  width: 60%;
}
.reveal {
  background: #003581;
  color: white;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  color: white;
}
.reveal section > header h1,
.reveal section > header h2,
.reveal section > header h3,
.reveal section > header h4 {
  color: #378fe7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
