section
    header
        h2 Controller Syntax
        h3 Basics
        
    .break-md
        div.underline Things you need to know
        
    .break-sm
        ul
            li Class + Module (ES6)
            li
                div Annotations
                div.small (or JavaScript equivalent) 
            li Dependency Injection