section
    header
        h2 Controller Syntax
        h3 ES6 Classes

    .break
        pre(style='width: 65%').
           <span class="highlight">class MyApp {
              constructor() {

              }
          
              add($event, input) {

              }
           }</span>