section
    header
        h2 Controller Syntax
        h3 ES6 Modules

    .break
        pre(style='width: 65%').
           <span class="highlight">import {bootstrap} from 'angular2/angular2';</span>
            
           class MyApp {
              constructor() {
              
              }
          
              add($event, input) {

              }
           }
           
           <span class="highlight">bootstrap(MyApp);</span>