section
    header
        h2 Controller Syntax
        h3 Annotations

    .break-md
        div.underline-block(style='width: 50%; margin: 0 auto') 3 Basic Annotations
    
    .break
        ul.no-bullet
            li @Directive
            li @Component
            li @View
