section
    header
        h2 Controller Syntax
        h3 Components

    .break-md
        .two-column
            .col.col-66
                .small
                    div Inherits same behavior as Directive

                    .break
                        div +
                    .break
                        ul
                            li Creates Shadow DOM
                            li Paired with View annotation(s)
                            li Assigns Injector
                
            .col.col-33
                pre.
                    <span class="highlight">@Component</span>({
        
                       <span class="highlight">// Same as @Directive</span>

                    })
