section
    header
        h2 Component Classes
        h3 Basics
        
    .break-md
        div Things you need to know...
        
    .break-sm
        ul
            li Class + Module (ES6)
            li
                div Annotations
                div.small (or JavaScript equivalent) 
            li Dependency Injection