doctype
html(lang='en')
    include head.html
    body
        .reveal
            .slides
                section
                    include slides/01-Welcome/01-Welcome
                    include slides/01-Welcome/02-Audience
                section
                    include slides/02-WhyAngular2/01-WhyAngular2
                    include slides/02-WhyAngular2/02-Performance-MobileFirst
                    include slides/02-WhyAngular2/03-Performance-DigestCycle
                    include slides/02-WhyAngular2/04-WebStandards-ES6
                    include slides/02-WhyAngular2/05-WebStandards-WebComponents
                section
                    include slides/03-Components/01-WhatIsAComponent
                    include slides/03-Components/02-Composition
                    include slides/03-Components/03-API
                    include slides/03-Components/04-Structure
                section
                    include slides/04-Templates/01-Basics-Literals
                    include slides/04-Templates/02-Basics-PropertyBinding
                    include slides/04-Templates/03-Basics-EventBinding

        include footer.html
