doctype
html(lang='en')
    include head.html
    body
        .reveal
            .slides
                section
                    include slides/01-Welcome/01-Welcome
                    include slides/01-Welcome/02-Audience
                section
                    include slides/02-WhyAngular2/01-Performance-MobileFirst
                    include slides/02-WhyAngular2/02-Performance-DigestCycle
                    include slides/02-WhyAngular2/03-WebStandards
                section
                    include slides/03-Components/01-WhatIsAComponent
                    include slides/03-Components/02-Composition
                    include slides/03-Components/03-API
                    include slides/03-Components/04-Structure

        include footer.html
