doctype
html(lang='en')
    include head.html
    body
        .reveal
            .slides
                section
                    include slides/01-Welcome/01-Welcome
                    include slides/01-Welcome/02-QuickPoll
                    include slides/01-Welcome/03-Audience
                section
                    include slides/02-WhyAngular2/01-Intro
                    include slides/02-WhyAngular2/01-WhyAngular2
                    include slides/02-WhyAngular2/02-Performance-MobileFirst
                    include slides/02-WhyAngular2/03-Performance-DigestCycle
                    include slides/02-WhyAngular2/04-WebStandards-ES6
                    include slides/02-WhyAngular2/05-WebStandards-WebComponents
                section
                    include slides/03-Components/01-WhatIsAComponent
                    include slides/03-Components/02-Composition
                    include slides/03-Components/03-API
                    include slides/03-Components/04-Structure
                section
                    include slides/04-TemplateSyntax/01-CustomElements
                    include slides/04-TemplateSyntax/02-Attributes-Literals
                    include slides/04-TemplateSyntax/03-Attributes-Binding
                    include slides/04-TemplateSyntax/04-Events-Binding
                    include slides/04-TemplateSyntax/05-Pipes-Usage
                    include slides/04-TemplateSyntax/06-Pipes-Impl
                    include slides/04-TemplateSyntax/07-RefBindings
                    include slides/04-TemplateSyntax/08-Templates-Repeaters
                    include slides/04-TemplateSyntax/09-Templates-Conditionals
                    include slides/04-TemplateSyntax/10-Transclusion
                    include slides/04-TemplateSyntax/11-Transclusion-Example
                section
                    include slides/05-ControllerSyntax/01-Basics
                    include slides/05-ControllerSyntax/02-Example
                    include slides/05-ControllerSyntax/03-Classes
                    include slides/05-ControllerSyntax/04-ModuleImports
                    include slides/05-ControllerSyntax/05-Annotations-Part1
                    include slides/05-ControllerSyntax/06-Annotations-vs-Decorators
                    include slides/05-ControllerSyntax/07-Annotations-Part2
                    include slides/05-ControllerSyntax/08-Directives
                    include slides/05-ControllerSyntax/09-Components
                    include slides/05-ControllerSyntax/10-Views
                section
                    include slides/06-DependencyInjection/01-Benefits
                    include slides/06-DependencyInjection/02-Injector
                    include slides/06-DependencyInjection/03-Types
                    include slides/06-DependencyInjection/04-Injectables-Services
                    include slides/06-DependencyInjection/05-Injectables-Elements
                    include slides/06-DependencyInjection/06-Injectables-Directives
                    include slides/06-DependencyInjection/07-Injectables-Directives-Example

        include footer.html
