doctype
html(lang='en')
    include head.html
    body
        .reveal
            .slides
                section
                    include slides/01-Welcome/01-Welcome
                    include slides/01-Welcome/02-Audience

        include footer.html
