section
    header
        h2 Template Syntax
        h3 Pipes
        
    .break-md
        div Usage example
        
    div
        pre
            span &lt;media&nbsp;title="{{&nbsp;
            span.highlight media.title | uppercase
            span &nbsp;}}"&gt;&lt;/media&gt;

    .break-md.small
        ul
            li Similar to "filters" in Angular 1.x