section
    header
        h2 Template Syntax
        h3 Transclusion
        
    .break
        .inline-pre isolate $scope + compile + transcludeFn...
        
        img(src='slides/images/transclusion.png',style='width: 100%')
        
    .break.small
        div (makes sense, right?)