section
    header
        h2 Components
    
    .break
        p.small 
            i noun;&nbsp;
            span a part or element of a larger whole
        
    .break
        img(src="slides/images/components.png",width="50%")
