section
    h2 Components
    h3 Structure
    
    .break
        .two-column
            .col
                h3.underline-block Logical
                ul
                    li Javascript
                    li Controller
                    li Services
                    li Nested Components
            .col
                h3.underline-block Visual
                ul
                    li HTML
                    li Custom Element
                    li Attributes
                    li Template
in