section
    header
        h2 Templates
        h3 Basics
        
    .break-md
        div String literals

        pre
            span &lt;media&nbsp;
            span.highlight title="Hello {{ user.Name }}"
            span &gt;&lt;/media&gt;
    
    .break
        div.small
            span supports interpolation via {{ }}
