section
    h3 Components
    h3
        s MVW
        
    .break
        h4 What is a component?
        p.small 
            i noun;&nbsp;
            span a part or element of a larger whole
        