section
    h2 Component API
    
    .break
        .two-column
            .col
                h3 Logical
                ul
                    li Properties
                    li Methods
                    li Events
            .col
                h3 Visual
                ul
                    li HTML Element
                    li Attributes
                    li Template