section
    h2 Logical Components

    ul
        li
            b Properties
            p.small The state of the component
        li
            b Methods
            p.small The behavior of the component
        li
            b Events
            p.small Notifies listeners of state changes
