section
    h2 Why Angular 2?
    h3 Performance
    

    .break-md
        .two-column
            .col
                img(src='slides/images/mobile_traffic.png',width='100%')
                
            .col
                h3 Mobile First
                
                ul
                    li Low horsepower
                    li Impatient users
                    li Hybrid mobile apps
