section
    header
        h2 Why Angular 2?
        h3 Performance
        
    .break-md
        h2
            pre.inline-pre $scope.$digest();
        
    div.break
        ul
            li No dirty checking
            li No $scope watchers
            li
                div Uni-directional data flow
                div.small (no two-way data binding)