section
    header
        h2 Why Angular 2?
        h3 Web Standards
    
    .break-md
        h3 EcmaScript v6 (ES6)
        
    .break
        ul
            li
                div Module Imports
                div
                    pre angular.module(...)
            li
                div Class + Annotations
                div
                    pre &lt;module&gt;.controller(...)
