section
    header
        h2 Why Angular 2?
        h3 Web Standards
    
    .break-md
        h3 Web Components
        
    .break
        ul
            li Template syntax
                ul
                    li.small Lazy-binding attributes (e.g. ng-src, ng-href)
                    li.small Custom event handlers (e.g. ng-click, ng-change)
            li Use "native" web components
                ul
                    li.small Avoid Angular wrappers on existing components
