section
    header
        h2 Audience
        
    .break-md
        div I'm assuming you're either...

    .break
        ul
            li New to web development
            li New to Angular
            li
                div Currently using Angular 1.x
                div Preparing for Angular 2
