section
    header
        h2 Next Steps
        h3 Resources
        
    .break
        ul
            li
                div Docs
                div.small
                    a(href='https://angular.io/docs/js/latest/') https://angular.io/docs/js/latest/
            li
                div Github
                div.small
                    a(href='https://github.com/angular/angular') https://github.com/angular/angular
            li
                div Gitter (chat)
                div.small
                    a(href='https://gitter.im/angular/angular') https://gitter.im/angular/angularan