section
    header
        h2 Dependency Injection
        h3 Benefits
        
    .break
        ul
            li
                div Modularity
                ul.small
                    li Single-Responsibility Principle
                    li Composition over Inheritance
            li.break
                div Extensibility
                ul.small
                    li Open-Closed Principle
                    li Decorator pattern
            li.break
                div Testability
                ul.small
                    li Mock dependencies