section
    header
        h2 Dependency Injection
        h3 Injector Types
        
    .break
        ul
            li
                div Platform Injector
                ul.small
                    li Injects browser resources, such as cookies, location, etc.
            li.break
                div Component Injector
                ul.small
                    li Inject custom services (imported via ES6 modules)
            li.break
                div Element Injector
                ul.small
                    li Inject element-specific objects, or other components