section
    header
        h2 Dependency Injection
        h3 Element-Specific Objects
        
    .text-left
        .break-md
            .two-column
                .col.col-33.text-right
                    pre.inline-pre ElementRef
                .col.col-66
                    span obtain a reference to logical element in the view
        .clear
        
        .break
            .two-column
                .col.col-33.text-right
                    pre.inline-pre ViewContainerRef
                .col.col-66
                    span control child template instantiation
        .clear
        
        .break
            .two-column
                .col.col-33.text-right
                    pre.inline-pre BindingPropagation
                .col.col-66
                    span control change detection in a more granular way
